.header {
  @include pc {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-width: 1280px;
    z-index: 6;
    padding: 1rem 5rem;
    transition: all 0.3s;

    &.show {
      background: linear-gradient(180deg, rgba(3, 106, 167, 0.7) 0%, rgba(31, 65, 142, 0.7) 100%);
      .logo {
        opacity: 1;
        visibility: visible;
      }
    }
    .logo {
      width: 223px;
      height: 54px;
      flex-shrink: 0;
      margin-right: 80px;
    }
    .header-menu {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 36px;
      transform: translateX(-5px);
      a {
        color: #fff;
        font-size: 18px;
        font-family: "Hiragino Maru Gothic ProN W4", sans-serif;
        &.btn-contact {
          position: relative;
          transform: translateX(-8px);
          color: #004b71;
          width: 170px;
          height: 42px;
          display: flex;
          align-items: center;
          border: 1px solid #fff;
          background: #fff;
          border-radius: 100px;
          padding-inline: 20px;
        }
      }
    }
  }
  @include sp {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    height: 8rem;
    width: 100%;
    background: linear-gradient(180deg, rgba(3, 106, 167, 0.7) 0%, rgba(31, 65, 142, 0.7) 100%);
    .logo {
      position: fixed;
      top: 2.1rem;
      left: 11.6rem;
      width: 15.8rem;
      height: 3.8rem;
      display: block;
      transition: all 0.3s;
    }
    .hamburger {
      display: flex;
      position: absolute;
      top: 2.8rem;
      right: 5.2rem;
      flex-direction: column;
      justify-content: space-between;
      width: 2.1rem;
      height: 2.4rem;
      z-index: 1001;
      span {
        height: 2px;
        background: #fff;
        border-radius: 2px;
        transition: all 0.3s;
        &:nth-child(1),
        &:nth-child(3) {
          width: 3.3rem;
        }
      }
    }

    .hamburger.active span:nth-child(1) {
      width: 4rem;
      transform: rotate(35deg) translate(0.8rem, 0.8rem);
    }

    .hamburger.active span:nth-child(2) {
      opacity: 0;
    }

    .hamburger.active span:nth-child(3) {
      width: 4rem;
      transform: rotate(-35deg) translate(0.8rem, -0.8rem);
    }

    .header-menu {
      position: fixed;
      width: 18rem;
      height: auto;
      top: 8rem;
      right: -100vw;
      background: rgba(33, 76, 146, 0.8);
      flex-direction: column;
      display: flex;
      justify-content: center;
      padding: 3rem 4rem 6.5rem;
      gap: 1.8rem;
      list-style: none;
      z-index: 1000;
      transition: all 0.3s;
      font-size: 1.4rem;
      letter-spacing: 0.1em;
    }

    .header-menu.active {
      right: 0;
    }

    .header-menu li {
      text-align: left;
    }

    .header-menu a {
      text-decoration: none;
      color: #fff;
    }
  }
}
